{% extends "layout.html" %}
{% block body %}
    <h2>Discharge patient</h2>

    <br/>
    <h3>Personal information</h3>
    <ul class=entries>
    <li>First name: {{ details.fname }}
    <li>Last name: {{ details.lname }}
    <li>PESEL: {{ details.pesel }}
    <li>Admission date: {{ details.admission_d }}
    </ul>
    
    <h3>You are about to discharge this patient. Are you sure?</h3>
    <form action="{{ url_for('discharge', patient=details.pesel) }}" method=post>
        <input type=hidden name=confirmation value=yes>
        <input type=submit value=Discharge>
    </form>
{% endblock %}