{% extends "layout.html" %}
{% block body %}
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
    <h2>DB query</h2>
    <form action="{{ url_for('do_sql') }}" method=post>
    <dl>
        <dt>Query:
        <dd><textarea name=query rows=3 cols=50></textarea>
        <dd><input type=submit value=Submit>
    </dl>
    </form>

    {% if result %}
      <br/>
      <h3>Results</h3>
      <table>
      {% for row in result %}
      <tr>
          {% for d in row %}
              <td>{{ d }}
          {% endfor %}
      </tr>
      {% endfor %}
      </table>
    {% endif %}
{% endblock %}