{% extends "layout.html" %}
{% block body %}
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}

    <h2>Patient details</h2>
    <br/>
    <h3>Personal information</h3>
    <ul class=entries>
    <li>First name: {{ details.fname }}
    <li>Last name: {{ details.lname }}
    <li>PESEL: {{ details.pesel }}
    <li>Admission date: {{ details.admission_d }}
    </ul>

    {% if allowed_discharge %}
    <form action="{{ url_for('discharge', patient=details.pesel) }}" method=post>
        <input type=submit value=Discharge>
    </form> 
    {% endif %}
    
    <br/>
    <h3>Assigned personel</h3>
    <table class=dbtable>
    <tr><td>First name<td>Last name<td>Position<td>Rights
    {% for row in personel %}
        <tr>
        {% for d in row %}
            <td>{{ d }}
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    
    <br/>
    <form action="{{ url_for('patient_details', patient=details.pesel) }}" method=post>
        <label>Assign personel:
        <select name=new_personel_id>
        {% for emp in employees %}
        <option value={{ emp[1] }}>{{ emp[0] }}</option>
        {% endfor %}
        </select>
        <input type=hidden name=ftype value=assign_personel>
        <input type=submit value=Assign>
    </form>    
    
    {% if deassign %}
        <br/>
        <form action="{{ url_for('patient_details', patient=details.pesel) }}" method=post>
            <label>Deassign yourself:
            <input type=hidden name=ftype value=deassign_yourself>
            <input type=submit value=Deassign>
        </form>         
    {% endif %}
    
    <br/><br/>
    <h3>Current history</h3>
    <table class=dbtable>
    <tr><td>Date<td>Drug<td>Quantity<td>Procedure<td>Employee
    {% for row in curr_history %}
        <tr>
        {% for d in row %}
            <td>{% if d %}{{ d }}{% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    
    <br/>
    <form action="{{ url_for('patient_details', patient=details.pesel) }}" method=post>
        <label>Prescribe drug:
        <select name=presc_drug>
        {% for dr in avail_drugs %}
        <option value={{ dr[0] }}>{{ dr[1] }}</option>
        {% endfor %}
        </select>
        <input type=number step=0.001 name=quantity value=0>
        <input type=hidden name=ftype value=presc_drug>
        <input type=submit value=Prescribe>
    </form>  
    <form action="{{ url_for('patient_details', patient=details.pesel) }}" method=post>
        <label>Order procedure:
        <select name=ordered_proc>
        {% for pr in avail_procedures %}
        <option value={{ pr[0] }}>{{ pr[1] }}</option>
        {% endfor %}
        </select>
        <input type=hidden name=ftype value=order_proc>
        <input type=submit value=Order>
    </form> 
{% endblock %}