{% extends "layout.html" %}
{% block body %}
    <h2>Sign in new patient</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
    <form action="{{ url_for('sign_in_new_patient') }}" method=post>
    <dl>
        <dt>First name:
        <dd><input type=text name=fname value={{ data.fname }}>
        <dt>Last name:
        <dd><input type=text name=lname value={{ data.lname }}>
        <dt>PESEL:
        <dd><input type=text name=pesel value={{ data.pesel }}>
        <dt>Date of birth:
        <dd><input type=date name=dbirth value={{ data.dbirth }}>
        <dd><input type=submit value=Submit>
    </dl>
    </form>

{% endblock %}