{% extends "layout.html" %}
{% block body %}
  <h2>View all databases</h2>
  <br/>
  <h3>Employees</h3>
  <table class=dbtable>
  <tr><td>id<td>fname<td>lname<td>login<td>password<td>position_id<td>employment_d<td>salary<td>rights
  {% for row in employees %}
  <tr>
      {% for d in row %}
          <td>{{ d }}
      {% endfor %}
  </tr>
  {% endfor %}
  </table>
  
  <br/>
  <h3>Patients</h3>
  <table class=dbtable>
  <tr><td>pesel<td>fname<td>lname
  {% for row in patients %}
  <tr>
      {% for d in row %}
          <td>{{ d }}
      {% endfor %}
  </tr>
  {% endfor %}
  </table>
  
  <br/>
  <h3>Files</h3>
  <table class=dbtable>
  <tr><td>id<td>patient_pesel<td>admission_d<td>discharge_d
  {% for row in files %}
  <tr>
      {% for d in row %}
          <td>{{ d }}
      {% endfor %}
  </tr>
  {% endfor %}
  </table>
  
  <br/>
  <h3>Assignments</h3>
  <table class=dbtable>
  <tr><td>fil_id<td>employee_id
  {% for row in assignments %}
  <tr>
      {% for d in row %}
          <td>{{ d }}
      {% endfor %}
  </tr>
  {% endfor %}
  </table>
  
  <br/>
  <h3>Drugs</h3>
  <table class=dbtable>
  <tr><td>id<td>name<td>quantity<td>unit_id<td>price<td>min_rights<td>Active
  {% for row in drugs %}
  <tr>
      {% for d in row %}
          <td>{{ d }}
      {% endfor %}
  </tr>
  {% endfor %}
  </table>
  
  <br/>
  <h3>Procedures</h3>
  <table class=dbtable>
  <tr><td>id<td>name<td>price<td>min_rights<td>Active
  {% for row in procedures %}
  <tr>
      {% for d in row %}
          <td>{{ d }}
      {% endfor %}
  </tr>
  {% endfor %}
  </table>
  
  <br/>
  <h3>History</h3>
  <table class=dbtable>
  <tr><td>id<td>fil_id<td>entry_d<td>employee_id<td>drug_id<td>procedure_id<td>drug_quantity
  {% for row in history %}
  <tr>
      {% for d in row %}
          <td>{{ d }}
      {% endfor %}
  </tr>
  {% endfor %}
  </table>  
  
  <br/>
  <h3>Orders</h3>
  <table class=dbtable>
  <tr><td>id<td>drug_id<td>quantity<td>unit_price<td>order_d<td>employee_id
  {% for row in orders %}
  <tr>
      {% for d in row %}
          <td>{{ d }}
      {% endfor %}
  </tr>
  {% endfor %}
  </table>  
  
  <br/>
  <h3>Positions</h3>
  <table class=dbtable>
  <tr><td>id<td>name
  {% for row in positions %}
  <tr>
      {% for d in row %}
          <td>{{ d }}
      {% endfor %}
  </tr>
  {% endfor %}
  </table>
  
  <br/>
  <h3>Units</h3>
  <table class=dbtable>
  <tr><td>id<td>name
  {% for row in units %}
  <tr>
      {% for d in row %}
          <td>{{ d }}
      {% endfor %}
  </tr>
  {% endfor %}
  </table>
{% endblock %}